* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family : Arial, sans-serif;
    }

    body {
      background-color: #f4f4f9;
      color: #333;
      line-height: 1.6;
    }

    header {
      background: #333;
      color: #fff;
      padding: 1rem 2rem;
      text-align: center;
    }

    header h1 {
      margin-bottom: 0.5rem;
    }

    header img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            border: 4px solid #e3ef33;
        }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }

    section {
      padding: 2rem;
      max-width: 900px;
      margin: auto;
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }

    .card {
      background: #f7f5f5;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

    }

    .card:hover {
      transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
      
    }

    footer {
      background: #333;
      color: #fff;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }
    